{extend name="base"}
{block name="private_source"}
    <link rel="stylesheet" href="__STATIC__/home/css/login.css">
{/block}
{block name="middle"}
<div id="middle">
    <div class="content">
        <h1>会员登录</h1>
        <div class="login_top">
            <form action="user.html" method="post" id="new_form">
                <table>
                    <tr>
                        <td>登录名：</td>
                        <td>
                            <input type="text" name="username"/>
                        </td>
                    </tr>
                    <tr>
                        <td>密码：</td>
                        <td>
                            <input type="password" name="password"/>
                        </td>
                    </tr>
                    <tr>
                        <div>
                            <td>验证码：</td>
                        <td class="clearfix">
                            <input type="text" name="code" id="code"/>
                            <a href="#"><img src="{:captcha_src()}" alt="login_code.png" id="isrc" onclick="this.src='{:captcha_src()}'"></a>
                            <a href="javascript:;" onclick="document.getElementById('isrc').setAttribute('src','{:captcha_src()}');" class="code">看不清，换一张</a>
                        </td>
                        </div>
                        
                    </tr>
                    <tr>
                        <td colspan="2" class="submit clearfix">
                            <input type="button" value="登录" id="submit" onclick="login()">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="td_last">
                            <a href="#">忘记密码？</a>
                            <a href="{:url('Registe/registe')}">免费注册</a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="login_bottom">
            <p>合作伙伴账户登录：</p>
            <ul class="clearfix">
                <li>
                    <a href="#"><img src="__STATIC__/home/img/login_bottom1.png" alt="login_bottom1.png"></a>
                    <a href="#" class="partner">QQ登录</a>
                </li>
                <li>
                    <a href="#"><img src="__STATIC__/home/img/login_bottom2.png" alt="login_bottom2.png"></a>
                    <a href="#" class="partner">微信登录</a>
                </li>
                <li>
                    <a href="#"><img src="__STATIC__/home/img/login_bottom3.png" alt="login_bottom3.png"></a>
                    <a href="#" class="partner">支付宝登录</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<script>
     function login()
        {
            // alert(22);
            // var data = new FormData($("#new_form")[0]);
            var data={

                'username':$("[name='username']").val(),
                'password':$("[name='password']").val(),
                'code':$("[name='code']").val()
            }
            // console.log(data);
            $.ajax({
            url:"{:url('Login/login')}",
            type:'post',
            data:data,
            dataType:'json',
            success:function(data){
//                console.log(data);
                if (data.code == 1) {
                    layer.msg(data.msg, {icon:1,time:1000,btn:['确定']},function(){setTimeout(window.location.href=data.url,3000 )}
                    )
                }else{
                    layer.msg(data.msg, {icon:2,time:6000,btn:['确定']});
                    document.getElementById('isrc').setAttribute('src','{:captcha_src()}')
                };

            }
        })
        }
</script>
{/block}