<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="CSS_DIR/lib/html5shiv.js"></script>
<script type="text/javascript" src="CSS_DIR/lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="CSS_DIR/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="CSS_DIR/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="CSS_DIR/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="CSS_DIR/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="CSS_DIR/static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<!-<script type="text/javascript" src="CSS_DIR/lib/DD_belatedPNG_0.0.8a-min.js" ></script>-->
<!--<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>资讯列表</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 资讯管理 <span class="c-gray en">&gt;</span> 资讯列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="text-c">
		<button onclick="removeIframe()" class="btn btn-primary radius">关闭选项卡</button>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"></span> <span class="r">共有数据：<strong>54</strong> 条</span> </div>
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
			<thead>
			<tr class="text-c">
				        <th width="20">ID</th>
						<th width="20">订单号</th>
						<th width="60">用户</th>
						<th width="120">总价</th>
						<th width="80">是否已付款</th>
						<th width="120">是否发货</th>
						<th width="60">操作</th>
			</tr>
			</thead>
			<tbody>
			{volist name="list" id="vo"}
			<tr class="text-c">
				<td>{$vo.id}</td>
				<td><u style="cursor:pointer" class="text-primary" onClick="article_edit('查看','/admin/orderform/details/order_id/{$vo.order_id}','10002')" title="查看">{$vo.order_id}</u></td>
				<td>{$vo.count}</td>
				<td>{$vo.total_price}</td>
				<td class="td-status">
                  {if condition="$vo.pay==0"}
				<span class="label label-default radius">否</span>
				
                  {else}
                <span class="label label-success radius">是</span>
                  {/if} 
                </td>
                <td class="td-status">
                  {if condition="$vo.send==0"}
				<span class="label label-default radius">否</span>
				
                  {else}
                <span class="label label-success radius">是</span>
                  {/if} 
                </td>
                
				
                <td class="td-manage"><a style="text-decoration:none" onClick="admin_start(this,{$vo.id})" href="javascript:;" title="启用"><i class="Hui-iconfont">&#xe615;</i></a>
                </td>

			</tr>
			{/volist}
			</tbody>
		</table>
		{$page}
	</div>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="CSS_DIR/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="CSS_DIR/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="CSS_DIR/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="CSS_DIR/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="CSS_DIR/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="CSS_DIR/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="CSS_DIR/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
function article_edit(title,url,id,w,h){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
function change_password(title,url,id,w,h){
	layer_show(title,url,w,h);	
}
function order_del(argument) {
	 
}


/*管理员-启用*/
function admin_start(obj,id){
	var hasSent=$(obj).parents("tr").find(".td-status").eq(1).find("span").hasClass("label-success");
	// alert(hasSent);
	 if (hasSent) {
	 	 layer.msg("已经发货,不能取消", {icon:1,time:1000});
	 	return;
	 	// alert(1);
	 }
	layer.confirm('确认要发货吗？',function(index){
		//此处请求后台程序，下方是成功后的前台处理……
		// 
		 //
		   $.ajax({
			type: 'POST',
			url:  "{:url('orderform/change_send_status')}",
			dataType: 'json',
			data:{'id':id,send:1},
			success: function(data){
				if (data.code == 1) {
					 layer.msg(data.msg, {icon:1,time:1000},function(){
                          $(obj).parents("tr").find(".td-status").eq(1).html('<span class="label label-success radius">是</span>');
					 })
                            
					}else{
					  layer.msg(data.msg, {icon:2,time:3000})
					};
			}
		   });	
		
		
	});
}
</script> 
</body>
</html>